<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        h1{
            color: rgb(54, 22, 22);
            background-color: blanchedalmond;   
        }
        #name{
            color:rgb(88, 0, 0);
        }
        #surname{
            color:rgb(194, 19, 19);
        }
        #age{
            color: rgb(172, 103, 103);
        }
        #group{
            color: rgb(236, 157, 157);
        }
        
    </style>
</head>
<body>
    <h1>About me!</h1>
    <p th:text="${name}" id="name"></p>
    <p th:text="${surname}" id="surname"></p>
    <p th:text="${age}" id="age"></p>
    <p th:text="${group}" id="group"></p>
</body>
</html>