<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <style>
        h1{
            color:aqua;
            background-color: blanchedalmond;   
        }
        p{
            color:blue;
        }
        button{
            background-color: rgb(212, 154, 154);
            color:rgb(67, 134, 192);
            border-radius: 5px;
            box-shadow: 0 0 50px rgba(20,30,50);
        }
    </style>
</head>
<body>
    <h1>Mans portfolio</h1>
    <p>Mani sauc Patricija!</p>
    <button>Press me</button>
    <ol>
        <li>piens</li>
        <li>maize</li>
        <li>siers</li>
        <li>kebabs</li>
    </ol>
</body>
</html>